@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/seven-segment");

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge, IE */
  user-select: none; /* Modern browsers */
}

.modal-content {
  background: darkgray;
  border: 1px solid #111;
}

.glow {
  color: green;
  text-align: center;
  // animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 1px lightgreen, 0 0 2px lightgreen, 0 0 3px darkgreen,
    0 0 40px darkgreen, 0 0 5px darkgreen, 0 0 6px darkgreen, 0 0 7px darkgreen;
  font-family: "seven-segment";
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px lightgreen, 0 0 2px lightgreen, 0 0 3px darkgreen,
      0 0 40px darkgreen, 0 0 5px darkgreen, 0 0 6px darkgreen,
      0 0 7px darkgreen;
  }
  to {
    text-shadow: 0 0 2px lightgreen, 0 0 3px darkgreen, 0 0 4px darkgreen,
      0 0 5px darkgreen, 0 0 6px darkgreen, 0 0 7px darkgreen, 0 0 8px darkgreen;
  }
}

html,
body {
  font-family: sans-serif;
  user-select: none;
  height: 100%;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 1em;
}
